h1{
    color: rgb(157, 248, 241);
    background-color: lightsalmon;
    }

    #img1{
        width:330px;
        height:400px;
    }

    #img2{
        width:330px;
        height:400px;
    }

    #img3{
        width:330px;
        height:400px;
    }

    #img4{
        width:330px;
        height:400px;
    }

    #img5{
        width:330px;
        height:400px;
    }

#test1{
background-color: lightsalmon;
}

#test2{
background-color: lightcyan;
} 

#test3{
   background-color: rgb(216, 155, 155);
    }

    #test4{
        background-color: lightgreen;
        }

        #test1{
            background-color:lightgoldenrodyellow ;
            }